/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.current-location-btn {
    background-color: hsl(var(--p));
    padding: 12px;
    color: hsl(var(--pc));
}